@import "tailwindcss";

@layer base {
	body {
		color: var(--color-teal-950);
	}
}

/* Custom styles */
@layer components {
	.gradient-bg {
		background: linear-gradient(
			135deg,
			oklab(98.22800000000001% -0.00379 0.00148) 30%,
			oklab(95.138% -0.06947 0.02396) 100%
		);
	}

	.bounce-hover:hover {
		animation: bounce 0.5s;
	}

	.float {
		animation: float 3s ease-in-out infinite;
	}
}

@keyframes float {
	0%,
	100% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-20px);
	}
}

@font-face {
	font-family: Frama;
	font-style: normal;
	font-weight: 100 900;
	font-display: block;
	src: url("/fonts/PPFrama-UprightVariableVF.woff2") format("woff2");
}

@theme {
	--font-sans: "Frama", sans-serif;
}
